#!/bin/bash -xe

{{ if eq .chezmoi.os "darwin" -}}
# dot_config/pnpm/global.txt hash: {{ include "dot_config/pnpm/global.txt" | sha256sum }}
echo "Installing global packages in pnpm"

# ~/.config/pnpm/global.txt からパッケージリストを読み込む
packages=($(cat ~/.config/pnpm/global.txt))

# 各パッケージをグローバルにインストール
echo "package: ${packages}"
for pkg in "${packages[@]}"; do
    pnpm add -g $pkg
done
{{end -}}


{{ if eq .chezmoi.os "darwin" -}}
# List global package in pnpm with format: name@version
pnpm list -g --json | jq -r '.[].dependencies | to_entries[] | "\(.key)@\(.value.version)"' > ~/.config/pnpm/global.txt
{{end -}}
