{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

set -e # -e: exit on error

if [ ! "$(command -v brew)" ]; then
  echo "Installing brew"
  if [ "$(command -v curl)" ]; then
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
  else
    echo "To install dotfiles, you must install curl." >&2
    exit 1
  fi
else
  chezmoi=chezmoi
fi

if [[ $CI ]]; then
  echo "Disabling ssh setting."
  # CIでshh接続の鍵登録はしないので、httpsをそのまま使用する。
  config=$(git config --global --get url.git@github.com:.insteadof)
  git config --global --unset url.git@github.com:.insteadof
  HOMEBREW_BUNDLE_BREW_SKIP="go"
fi

# caskroom/versionsで入れたものはbrew bundleでインストールできない
# https://baqamore.hatenablog.com/entry/2015/06/16/210827
brew tap caskroom/versions
brew cask install google-chrome-canary

brew bundle --global --no-lock --no-upgrade

if [[ $CI ]]; then
  git config --global --set url.git@github.com:.insteadof "${config}"
  echo "Recovered ssh setting."
fi

{{ end -}}